<div class="container">
    <div class="section-header">
        OLD COLORS
    </div>
    <div class="section-input">
        <input type="text" placeholder="Enter comma separated hex codes" [value]="oldColors.toString()" (change)="onChangeEvent($event, false)"/>
    </div>
    <div *ngIf="oldColors?.length" class="old-colors">
        <div *ngFor="let color of oldColors" class="color-container">
            <div class="color-box" [style.background-color]="color"></div>
            <div class="color-label">{{color}}</div>
        </div>

    </div>
    <div *ngIf="!newColors?.length" class="empty-text">
        No Colors To Display
    </div>
    <div class="section-header">
        NEW COLORS
    </div>
    <div class="section-input">
        <input placeholder="Enter comma separated hex codes" type="text" [value]="newColors.toString()" (change)="onChangeEvent($event, true)"/>
    </div>
    <div *ngIf="newColors?.length" class="new-colors">
        <div *ngFor="let color of newColors" class="color-container">
            <div class="color-box" [style.background-color]="color"></div>
            <div class="color-label">{{color}}</div>
        </div>

    </div>
    <div *ngIf="!newColors?.length" class="empty-text">
        No Colors To Display
    </div>
    
    <div class="section-header">
        MAPPED COLORS
    </div>
    <div *ngIf="mappedColors?.length" class="mapped-colors">
        <div *ngFor="let mapping of mappedColors" class="color-mapping-container">
            <div class="color-container">
                <div class="color-box" [style.background-color]="mapping.oldColor"></div>
                <div class="color-label">{{mapping.oldColor}}</div>
            </div>
            <div class="color-container">
                <div class="color-box" [style.background-color]="mapping.newColor"></div>
                <div class="color-label">{{mapping.newColor}}</div>
            </div>
        </div>

    </div>
    <div *ngIf="!mappedColors?.length" class="empty-text">
        No Mappings To Display
    </div>
</div>
