.container{
    margin-top: 50px;
    .section-header {
        margin: 20px 10px;
        font-size: 16px;
    }

    .section-input {
        margin: 20px 10px;
        input {
            width: 50%;
            height: 40px;
            padding: 0px 20px;
            border: none;
            background-color: #eeeeee;
        }
    }
    .empty-text {
        margin: 10px;
        font-size: 12px;
        color: #7d7d7d;
    }

    .old-colors, .new-colors, .mapped-colors {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 40px;

        .color-container {
            margin: 10px;
            .color-box{
                width: 60px;
                height: 60px;
                border-radius: 3px;
            }
            .color-label {
                margin-top: 5px;
                font-size: 12px;
                text-align: center;
            }
        }
        .color-mapping-container {
            display: flex;
            flex-direction: row;
            margin-right: 30px;
        }
    }
    
}