.nav-container {
    margin: 20px 10px;

    font-size: 24px;
    .underline {
        margin-top: 10px;
        background-color: #2caffe;
        width: 80px;
        height: 4px;
        border-radius: 2px;
    }
}